<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862012628855-uu5bf1kp4r9u8h6drjsgn15t3frq7i2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862012628855-uu5bf1kp4r9u8h6drjsgn15t3frq7i2p</string>
	<key>API_KEY</key>
	<string>AIzaSyDFvKUlKIeucChEyWpL-SvsqiNOK69lJZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>862012628855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ciddras.joiedriver</string>
	<key>PROJECT_ID</key>
	<string>joie-driver-matrix</string>
	<key>STORAGE_BUCKET</key>
	<string>joie-driver-matrix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862012628855:ios:ae8b6baafc96d0a9818b72</string>
</dict>
</plist>